[eventlistener:logrotate]
command=/usr/local/bin/supervisord-event-listener.py /opt/config/sbin/logrotate.sh
events=TICK_60
autorestart=false
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
