<VirtualHost *:{{.Env.APACHE_LISTEN}}>

    ServerName default.localhost

    LimitRequestLine 16384

    # Uncomment the following line to force Apache to pass the Authorization
    # header to PHP: required for "basic_auth" under PHP-FPM and FastCGI
    #
    # SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

    # For Apache 2.4.9 or higher
    # Using SetHandler avoids issues with using ProxyPassMatch in combination
    # with mod_rewrite or mod_autoindex
    <FilesMatch \.php$>
        SetHandler "proxy:unix:/app/var/run/php-fpm/php-fpm.sock|fcgi://localhost"
    </FilesMatch>

    DocumentRoot /app/var/www/html

    Alias /real-time-status "/usr/local/php/php/fpm/status.html"
    <Directory /usr/local/php/php/fpm >
        Require local
{{- if .Env.MONITORING_ALLOW }}
        Require ip {{ .Env.MONITORING_ALLOW }}
{{- end }}
    </Directory>

    <Location /status >
        SetHandler "proxy:unix:/app/var/run/php-fpm/php-fpm.sock|fcgi://localhost"
        Require local
{{- if .Env.MONITORING_ALLOW }}
        Require ip {{ .Env.MONITORING_ALLOW }}
{{- end }}
    </Location>

    <IfModule status_module>
    <Location /server-status >
        SetHandler server-status
        Require local
{{- if .Env.MONITORING_ALLOW }}
        Require ip {{ .Env.MONITORING_ALLOW }}
{{- end }}
    </Location>
    </IfModule>

    <IfModule info_module>
    <Location /server-info>
        SetHandler server-info
        Require local
{{- if .Env.MONITORING_ALLOW }}
        Require ip {{ .Env.MONITORING_ALLOW }}
{{- end }}
    </Location>
    </IfModule>

    ErrorLog {{.Env.APACHE_DEFAULT_VHOST_ERROR_LOG_TARGET}}
    CustomLog {{.Env.APACHE_DEFAULT_VHOST_CUSTOM_LOG_TARGET}} combined

</VirtualHost>
